<style>
    .footer a {
                    color:#a1a9b0;
    }
    .footer {
                    background-color:#f3f5f8;
                    padding:20px 0 20px;
    }
    .footer p {
                    color: #000000;
                    font-size: 24px;
    }
</style>

<div class="row footer" style="margin-top:15px;">
    <div class="col-md-12 text-center">
        <p>Powered By HaShem. &copy; 2023</a>
    </div>
</div>