<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
    <title>Login</title>
    <% if(mobile){ %>
      <meta name="viewport" content="user-scalable=no,target-densitydpi=device-dpi" />
      <link rel="stylesheet" href="public/VerticalMario/css/mobile-styles.css">
    <% } %>
  </head>
  <body>
    <%- include('./partials/header'); %>
    <div class="container">
      <div id="flashAlert"></div>
      <h1>Login Page</h1>
      <form>
        <div class="error" style="background-color: red;"></div>
        <br />
        <label for="username">Username</label><br />
        <input type="text" class="form-control" id="username" required /><br />
        <label for="password">Password</label><br />
        <input type="password" class="form-control" id="password" required /><br />
        <input type="submit" class="btn btn-primary" value="login" /><br />
      </form>
      <br>
      <br>
      <a href="/register">Don't have an accout? Register</a>
    </div>
    <script type="module">
      import Login from "../public/js/login.js";
      Login.login();
    </script>
  </body>
</html>