<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
    <title>MAIN</title>
	<!-- Font-Awesome -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="public/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link href="public/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    
    <link href="public/assets/css/animate.css" rel="stylesheet">
    <style>
        body{
            padding:15px;
        }
        .container{
            padding:0;
        }
    
    h1 {
	    font-size: 100px;
        letter-spacing: -8px;
        margin: 0;
        font-weight: 600;
        line-height: 95px;
        text-transform: uppercase;
    }

    h3 {
        font-size: 20px;
        margin:0;
        padding:0;
        opacity:0.5;
        color: #4360e0;
        letter-spacing: 18px;
        line-height: 50px;
        text-transform: uppercase;
     }
     .services {
                margin-top:80px;
                margin-bottom:40px;
            }
            .services .icon {
                position:relative;
                width:175px;
                height:175px;
                margin:0 auto;
                text-align:center;
                line-height:180px;
                font-size:56px;
                color:#fff;
                border-radius:50%;
                box-shadow:0 0 0 0 rgba(0,0,0,0.0);
                margin-bottom:40px;
                -webkit-transition:all .3s ease-out;
                transition:all .3s ease-out;
                border: 1px solid #4362e0;
                color: #4346e0;
            }
            .services .item:hover .icon {
                background: #43a1e0;
                border: 1px solid #43b1e0;
            }
            .services .item [class*=fa] {
                -webkit-transition:all .3s ease-out;
                transition:all .3s ease-out;
            }
            .services .item:hover [class*=fa] {
                -webkit-transform:scale(1.2);
                transform:scale(1.2);
                -webkit-transition:all .3s ease-out;
                transition:all .3s ease-out;
                color:#fff;
            }
            .features-wrapper {
                margin:70px 0 0;
            }
            i.respons {
                position:relative;
                width:35px;
                height:35px;
                margin:0 auto;
                line-height:35px;
                text-align:center;
                font-size:15px;
                color:#fff;
                border-radius:50%;
                -webkit-transition:all .3s ease-out;
                transition:all .3s ease-out;
                border:1px solid #CCCCCC;
                color: #CCCCCC;
            }

            ul.social-buttons {
                    list-style:none;
                    margin:0;
                    padding:0;
                }
                ul.social-buttons li {
                    display:inline-block;
                    margin-right:10px;
                }
                ul.social-buttons li:last-child {
                    margin-right:0;
                }
                .social-btn {
                    width:40px;
                    height:40px;
                    background: #43c6e0;
                    display:inline-block;
                    color:#fff;
                    font-size:17px;
                    line-height:40px;
                    text-align:center;
                }
                .social-btn:hover,.social-btn:focus {
                    background: rgba(255, 232, 0, 1);
                    color: #439ee0;
                }
              
            .color-bg {
	            background:#4387e0;
            }

            .section-padding{
                padding: 30px 20px 50px 20px;
             }
             .intro p {
	            margin:50px 0 0;
            }

            h1.arrow {
                font-size: 26px;
                text-transform:uppercase;
                color:#353535;
                letter-spacing: 4px;
                background:url('../../public/assets/img/h1-bg.png') no-repeat center bottom;
                font-weight: bold;
            }
            
            h1.arrow span {
                color: #314ba8;
            }
            .wp1,.wp2,.wp3,.wp4,.wp5,.wp6 {
	            /* visibility:hidden; */
            }
            .color-bg h6, .color-bg p {
                color: white;
            }

            @media screen and (max-width: 500px) {
            .column-flex {
            flex: 50%;
            max-width: 50%;
            }
        }

        @media screen and (min-width: 501px ) and (max-width: 800px) {
            .column-flex {
            flex: 33%;
            max-width: 33%;
            }
        }

    @media only screen and (max-width: 500px) {
        nav {
        flex-direction: column;
        }
        nav ul {
        flex-direction: column;
        padding-top: 0.5rem;
        }
        nav li {
        padding: 0.5rem 0;
        }
        nav h1{
        text-align: center;
        }
    } 
    </style>
    <link href="public/assets/textrotator/simpletextrotator.css" rel="stylesheet">
    <script src="public/assets/textrotator/jquery.simple-text-rotator.js"></script>

      

  </head>
  <body>
    <%- include('./partials/header'); %>
    <div class="row" style="margin-top: 75px;">
        <div class="col-md-12" style="background: url('../../public/assets/img/header-bg.jpg') right bottom no-repeat; background-size: contain;padding:110px 0 100px 0; height:auto;
                    background-color: #EDECE7">
            <h1 class="animated fadeInDown">
                <span style="opacity:0.5"><span style="color:#4365e0;opacity:0.5">Dani</span>el<br/></span>
                <span style="opacity:0.5">Mak<span style="color:#00ccff">over</span></span>
            </h1>
            <h3 class="animated fadeInUp delay-05s" style="opacity:0.5; margin-left:10px;"><span class="rotate">
                    Software Engineer, UX Artist, Video Game Geveloper</span></h3>
        </div>       
    </div>

    <div class="row">
        <div class="container intro text-center section-padding color-bg" id="about">
            <div class="col-md-12">
                <h1 class="arrow"><span>about me</span></h1>
                <p>
                    I am a Software developer based in Boston. I have over 5 years of professional experience and a Masters Degree in Computer Science.
                    I enjoy building full stack applications for both Mobile and Web platforms. I have also built a number of 2D video games in Javascript. 
                    When I am not coding on a project I am painting, sketching, traveling, and taking care of stray cats.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="padding:25px;">
            <ul class="social-buttons mx-auto text-center">
                <li><a href="https://github.com/CS683/lab-projectportal-dmakius" class="social-btn"><i class="fa fa-github"></i></a></li><!-- twitter -->
                <li><a href="https://www.linkedin.com/in/daniel-makover-932962a4/" class="social-btn"><i class="fa fa-linkedin"></i></a></li><!-- facebook -->
            </ul>
        </div>
    </div>

    <%- include('./partials/footer'); %>
        <script src="public/assets/bootstrap/js/bootstrap.min.js"></script> 

        <script type="text/javascript">
            $(".rotate").textrotator({
              animation: "fade", // You can pick the way it animates when rotating through words. Options are dissolve (default), fade, flip, flipUp, flipCube, flipCubeUp and spin.
              separator: ",", // If you don't want commas to be the separator, you can define a new separator (|, &, * etc.) by yourself using this field.
              speed: 2000 // How many milliseconds until the next word show.
            });
        </script>
  </body>


</html>